#infobox {
  width: 60%;
  margin: 40px auto;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 1px 1px #00000044;
}

p {
  font-family: 'Fredoka One', cursive;
  font-size: 20px;
  padding: 20px;
}
