/*----- PAGE -----------------------------------------------------------------------------------*/
html,body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: #DDDDDD;
  font-family: 'Fredoka One', cursive;
}

.mobi {
  display: none;
}

.page {
  min-height: 100%;
  position: relative;
}

header {
  width: 100%;
  display: table;
  height: 80px;
  background: linear-gradient(#00BB66, white, white);
  box-shadow: 0px 1px 1px #00000044;
  font-size: 24px;
}

#sitename {

  position: absolute;
  margin: 24px;
  font-size: 32px;
}

#siteimg {
  clear:both;
}

#siteimg img {
  height: auto;
  max-width: 80%;
  width: 600px;
  margin: 20px;
  margin-top: 40px;
}

#sitename a {
  color: black;
}

#sitename a:hover {
  cursor: pointer;
}

#content {
  padding-bottom: 60px; /* height of footer */
  display: flex;
  flex-wrap: wrap;
}

#centerable {
  margin-top: 60px;
  margin-left: 60px;
}

ul {list-style: none;}

a {
  text-decoration: none;
  color: black;
}

a {
  transition: color 0.2s ease;
}

a:hover {
  color: #00BB66;
}

/*----- MENU -------------------------------------------------------------------------------------*/
@media screen and (min-width: 750px) {
  nav {
    display: table-cell;
    vertical-align: middle;
  }
  nav ul {
    display: flex;
    justify-content: flex-end;
  }

  ul a {
    display: inline-block;
    text-decoration: none;
    margin: 18px;
    padding: 4px;
  }
}

/*----- FOOTER -----------------------------------------------------------------------------------*/
footer {
  display: block;
  width: 100%;
  height: 60px;
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 24px;
  background-color: white;
  box-shadow: 0px -1px 1px #00000044;
  /* border: 1px solid black; */
}

footer ul {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

footer ul a {
  display: inline-block;
  margin: 18px;
  padding: 4px;
}
